In [37]:
import pyarrow.parquet as pq
import numpy as np
import pandas as pd
import pyarrow as pa

In [38]:
df = pd.DataFrame({'one': [-1, np.nan, 2.5],
                  'two': ['foo', 'bar', 'baz'],
                  'three': [True, False, True]},
                 index=list('abc'))

table = pa.Table.from_pandas(df)

In [39]:
pq.write_table(table, 'example.parquet')

In [40]:
table2 = pq.read_table('example.parquet')
table2.to_pandas()

   one  two  three
a -1.0  foo   True
b  NaN  bar  False
c  2.5  baz   True

In [41]:
pq.read_table('example.parquet', columns=['one', 'three'])

pyarrow.Table
one: double
three: bool
metadata
--------
{b'pandas': b'{"index_columns": ["__index_level_0__"], "column_indexes": [{"na'
            b'me": null, "field_name": null, "pandas_type": "unicode", "numpy_'
            b'type": "object", "metadata": {"encoding": "UTF-8"}}], "columns":'
            b' [{"name": "one", "field_name": "one", "pandas_type": "float64",'
            b' "numpy_type": "float64", "metadata": null}, {"name": "two", "fi'
            b'eld_name": "two", "pandas_type": "unicode", "numpy_type": "objec'
            b't", "metadata": null}, {"name": "three", "field_name": "three", '
            b'"pandas_type": "bool", "numpy_type": "bool", "metadata": null}, '
            b'{"name": null, "field_name": "__index_level_0__", "pandas_type":'
            b' "unicode", "numpy_type": "object", "metadata": null}], "creator'
            b'": {"library": "pyarrow", "version": "0.15.1"}, "pandas_version"'
            b': "0.24.1"}'}

In [42]:
pq.read_pandas('example.parquet', columns=['two']).to_pandas()

   two
a  foo
b  bar
c  baz

In [43]:
pq.read_table('example.parquet')

pyarrow.Table
one: double
two: string
three: bool
__index_level_0__: string
metadata
--------
{b'pandas': b'{"index_columns": ["__index_level_0__"], "column_indexes": [{"na'
            b'me": null, "field_name": null, "pandas_type": "unicode", "numpy_'
            b'type": "object", "metadata": {"encoding": "UTF-8"}}], "columns":'
            b' [{"name": "one", "field_name": "one", "pandas_type": "float64",'
            b' "numpy_type": "float64", "metadata": null}, {"name": "two", "fi'
            b'eld_name": "two", "pandas_type": "unicode", "numpy_type": "objec'
            b't", "metadata": null}, {"name": "three", "field_name": "three", '
            b'"pandas_type": "bool", "numpy_type": "bool", "metadata": null}, '
            b'{"name": null, "field_name": "__index_level_0__", "pandas_type":'
            b' "unicode", "numpy_type": "object", "metadata": null}], "creator'
            b'": {"library": "pyarrow", "version": "0.15.1"}, "pandas_version"'
            b': "0.24.1"}'}

In [44]:
pq.read_table('example.parquet').to_pandas()

   one  two  three
a -1.0  foo   True
b  NaN  bar  False
c  2.5  baz   True

In [17]:
df = pd.DataFrame({'one': [-1, np.nan, 2.5],
                  'two': ['foo', 'bar', 'baz'],
                  'three': [True, False, True]},
                 index=list('abc'))

table = pa.Table.from_pandas(df, preserve_index=False)

In [18]:
pq.write_table(table, 'example_noindex.parquet')
t = pq.read_table('example_noindex.parquet')
t.to_pandas()

   one  two  three
0 -1.0  foo   True
1  NaN  bar  False
2  2.5  baz   True

In [19]:
parquet_file = pq.ParquetFile('example.parquet')
parquet_file.metadata

<pyarrow._parquet.FileMetaData object at 0x7f834c2e5350>
  created_by: parquet-cpp version 1.5.1-SNAPSHOT
  num_columns: 4
  num_rows: 3
  num_row_groups: 1
  format_version: 1.0
  serialized_size: 2515

In [20]:
parquet_file.schema

<pyarrow._parquet.ParquetSchema object at 0x7f834c2d2650>
one: DOUBLE
two: BYTE_ARRAY String
three: BOOLEAN
__index_level_0__: BYTE_ARRAY String

In [21]:
parquet_file.num_row_groups

1

In [22]:
parquet_file.read_row_group(0)

pyarrow.Table
one: double
two: string
three: bool
__index_level_0__: string
metadata
--------
{b'pandas': b'{"index_columns": ["__index_level_0__"], "column_indexes": [{"na'
            b'me": null, "field_name": null, "pandas_type": "unicode", "numpy_'
            b'type": "object", "metadata": {"encoding": "UTF-8"}}], "columns":'
            b' [{"name": "one", "field_name": "one", "pandas_type": "float64",'
            b' "numpy_type": "float64", "metadata": null}, {"name": "two", "fi'
            b'eld_name": "two", "pandas_type": "unicode", "numpy_type": "objec'
            b't", "metadata": null}, {"name": "three", "field_name": "three", '
            b'"pandas_type": "bool", "numpy_type": "bool", "metadata": null}, '
            b'{"name": null, "field_name": "__index_level_0__", "pandas_type":'
            b' "unicode", "numpy_type": "object", "metadata": null}], "creator'
            b'": {"library": "pyarrow", "version": "0.15.1"}, "pandas_version"'
            b': "0.24.1"}'}

In [24]:
writer = pq.ParquetWriter('example2.parquet', table.schema)

In [25]:
for i in range(3):
    writer.write_table(table)

In [26]:
writer.close()

In [27]:
pf2 = pq.ParquetFile('example2.parquet')
pf2.num_row_groups

3

In [32]:
pf2.read_row_group(2)

pyarrow.Table
one: double
two: string
three: bool
metadata
--------
{b'pandas': b'{"index_columns": [], "column_indexes": [], "columns": [{"name":'
            b' "one", "field_name": "one", "pandas_type": "float64", "numpy_ty'
            b'pe": "float64", "metadata": null}, {"name": "two", "field_name":'
            b' "two", "pandas_type": "unicode", "numpy_type": "object", "metad'
            b'ata": null}, {"name": "three", "field_name": "three", "pandas_ty'
            b'pe": "bool", "numpy_type": "bool", "metadata": null}], "creator"'
            b': {"library": "pyarrow", "version": "0.15.1"}, "pandas_version":'
            b' "0.24.1"}'}

In [45]:
with pq.ParquetWriter('example3.parquet', table.schema) as writer:
    for i in range(3):
        writer.write_table(table)

In [47]:
pq.read_table(table, read_dictionary=['binary_c0', 'stringb_c2'])

TypeError: Cannot convert pyarrow.lib.Table to pyarrow.lib.NativeFile

In [ ]:
pq.read_table(table, where, coerce_timestamps='ms')